@import "../../functionality/functions";

.footer-bg {
  margin-top: 90px;
  background: url("../img/blog/footer-bg.jpg") center / cover ;
}

.blog-footer {
  padding: 140px 0;

  &__input {
    padding-bottom: 15px;
    font-size: rem(20px);
    font-weight: $font-weight-lighter;
    color: rgba($white, .5);
    background-color: initial;
    border: none;
    border-bottom: 1px solid rgba($white, .5);
    border-radius: 0;

    &::placeholder {
      color: rgba($white, .5);
    }

    &:focus {
      box-shadow: none;
      color: $white;
      border-bottom: 1px solid $white;
    }
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
    opacity: .5;
    background: url("../img/icons/icons.svg#input-arrow") center / cover;

    &:hover {
      opacity: 1;
    }
  }
}