.contact {
  @include media-breakpoint-down(sm) {
    &__social-wrap,
    &__dropdown-wrap {
      width: 50%;
    }
  }

  &__link-item {
    text-decoration: none;
    font-weight: $font-weight-bold;
    font-size: rem(11px);
    line-height: rem(13px);
    letter-spacing: 0.06em;
    color: rgba($white, 0.7);
    transition: color 0.2s ease;

    &:first-child {
      margin-right: 30px;
    }

    &:hover {
      color: rgba($white, 1);
    }
  }

  @include media-breakpoint-down(lg) {
    &__link-box {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    &__link-item {
      margin: 0;
    }
  }
}
