@import "../functionality/functions";
.modal-open {
  .header {
    padding-right: 17px;
  }
}

.header {
  max-width: 100%;
  width: 100%;
  transition: all 0.2s ease;
  &__container {
    padding: 0 20px;
  }

  .navbar {
    padding: 10px 0;
  }

  @include media-breakpoint-up(lg) {
    &__container {
      padding: 0 64px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__logo {
      display: none;
    }
  }

  &__logo {
    svg {
      max-width: 100px;
      width: 100%;
    }
  }

  &__toggle-btn {
    position: relative;
    z-index: 2000;
    width: 50px;
    height: 30px;

    &,
    &:active,
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  &__burger-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      transition: transform 0.2s ease;
    }

    &::before {
      top: -5px;
    }

    &::after {
      top: 5px;
    }

    &.show {
      background-color: initial;

      &::before {
        top: 0;
        transform: rotateZ(45deg);
      }

      &::after {
        top: 0;
        transform: rotateZ(-45deg);
      }
    }
  }

  &__navbar-list-box,
  &__navbar-list {
    max-width: 340px;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    &__navbar-list-box:not(.show) {
      opacity: 1;
    }
  }

  &__link,
  &__lang-btn {
    font-size: rem(11px);
    letter-spacing: 0.06rem;
  }

  &__lang-btn {
    position: relative;
    z-index: 2000;
    border: none;
    background-color: initial;
  }

  &__dropdown-menu {
    min-width: initial;
    width: fit-content;
    border-radius: 0;
    z-index: 2000;
    background-color: $white;
  }

  &__popup-btn {
    position: relative;
    z-index: 2000;
  }

  &__navbar-contact {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    &__navbar-list-box {
      padding: 20px;
      width: 100%;
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      z-index: 2000;
      visibility: hidden;
      transition: top 0.2s ease;
      background-color: rgba($white, 0.3);
    }

    &__navbar-list-box.show {
      top: 100px;
      visibility: visible;
    }

    &__navbar-list {
      margin-bottom: 30px;
    }

    &__link {
      font-size: 20px;
    }

    &__navbar-contact {
      display: block;
    }
  }

  .offcanvas-backdrop {
    background-color: rgba($black, 0.9);

    &.show {
      opacity: 1;
    }
  }
}

.header.white {
  &.bg-transparent {
    background-color: rgba($black, 0.6) !important;
  }

  .header__logo {
    svg {
      path {
        fill: $white;
      }

      rect {
        stroke: $white;
        fill: none;
      }
    }
  }

  .header__burger-icon {
    background-color: $white !important;

    &::before,
    &::after {
      background-color: $white !important;
    }
  }
  .header__lang-btn,
  .header__link {
    color: rgba($white, 0.8) !important;

    &:hover {
      color: rgba($white, 1) !important;
    }
  }

  .header__popup-btn {
    color: rgba($white, 1) !important;
    border-color: rgba($white, 1) !important;
  }
}

.black.header {
  &.bg-transparent {
    background-color: rgba($white, 0.6) !important;
  }

  .header__logo {
    svg {
      path {
        fill: $black;
      }

      rect {
        stroke: $black;
        fill: none;
      }
    }
  }

  .header__burger-icon {
    background-color: $black !important;

    &::before,
    &::after {
      background-color: $black !important;
    }
  }
  .header__lang-btn,
  .header__link {
    color: rgba($black, 0.6) !important;

    &:hover {
      color: rgba($black, 1) !important;
    }
  }

  .header__popup-btn {
    color: rgba($black, 1) !important;
    border-color: rgba($black, 1) !important;

    &:hover {
      background-color: rgba($black, 0.2) !important;
    }
  }
}
