.socials {
  &__item {
    margin-right: 16px;
    list-style: none;
  }

  &__link {
    font-weight: $font-weight-bold;
    font-size: rem(11px);
    line-height: rem(13px);
    letter-spacing: 0.06em;
    color: rgba($white, 0.9);

    &:hover {
      color: rgba($white, 1);
    }
  }
}
