<div class="socials">
  <ul class="d-flex socials__list">
    <li class="socials__item">
      <a
        class="text-decoration-none socials__link"
        href="https://www.facebook.com/"
        target="_blank"
        >Fb</a
      >
    </li>
    <li class="socials__item">
      <a
        class="text-decoration-none socials__link"
        href="https://www.linkedin.com/"
        target="_blank"
        >In</a
      >
    </li>
    <li class="socials__item">
      <a
        class="text-decoration-none socials__link"
        href="https://www.behance.net/"
        target="_blank"
        >Be</a
      >
    </li>
  </ul>
</div>
