<div class="block-share d-flex align-items-center">
  <p class="text-white block-share__title">Share:</p>
  <ul class="p-0 m-0 d-flex align-items-center">
    <li class="block-share__item">
      <a class="block-share__link" href="https://www.facebook.com/" target="_blank">
        <img src="../img/icons/icons.svg#facebook-white" alt="facebook" title="Facebook">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="https://twitter.com/" target="_blank">
        <img src="../img/icons/icons.svg#twitter-white" alt="twitter" title="Twitter">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="https://www.linkedin.com/" target="_blank">
        <img src="../img/icons/icons.svg#in-white" alt="linkedin" title="LinkedIn">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="#">
        <img src="../img/icons/icons.svg#copy-link-white" alt="link" title="Copy link">
      </a>
    </li>
  </ul>
</div>