<div class="block-share">
  <p class="block-share__title">Share:</p>
  <ul class="d-flex p-0">
    <li class="block-share__item">
      <a class="block-share__link" href="https://www.facebook.com/" target="_blank">
        <img src="../img/icons/icons.svg#facebook-share" alt="facebook" title="Facebook">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="https://twitter.com/" target="_blank">
        <img src="../img/icons/icons.svg#twetter-share" alt="twitter" title="Twitter">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="https://www.linkedin.com/" target="_blank">
        <img src="../img/icons/icons.svg#in-share" alt="linkedin" title="LinkedIn">
      </a>
    </li>
    <li class="block-share__item">
      <a class="block-share__link" href="#">
        <img src="../img/icons/icons.svg#copy-link-share" alt="link" title="Copy link">
      </a>
    </li>
  </ul>
</div>