<ul class="pagination justify-content-center gap">
  <li class="page-item d-flex align-items-center justify-content-center"><a class="page-link paginate-prev" href="#"></a></li>
  <li class="page-item d-flex align-items-end justify-content-center"><a class="page-link" href="#">01</a></li>
  <li class="page-item d-flex align-items-end justify-content-center"><a class="page-link" href="#">02</a></li>
  <li class="page-item d-flex align-items-end justify-content-center"><a class="page-link" href="#">03</a></li>
  <li class="page-item d-flex align-items-end justify-content-center"><a class="page-link" href="#">...</a></li>
  <li class="page-item d-flex align-items-end justify-content-center"><a class="page-link" href="#">15</a></li>
  <li class="page-item d-flex align-items-center justify-content-center"><a class="page-link paginate-next" href="#"></a></li>
</ul>