<div class="filter-block">
  <div class="row filter-block__box justify-content-lg-@@justify-content">
    <div class="filter-block__wrap">
      <button class="btn filter-block__btn clicked" data-fiter-key="@@btn-1">@@btns.btn-1</button>
    </div>
    <div class="filter-block__wrap">
      <button class="btn filter-block__btn" data-fiter-key="@@btn-2">@@btns.btn-2</button>
    </div>
    <div class="filter-block__wrap">
      <button class="btn filter-block__btn" data-fiter-key="@@btn-3">@@btns.btn-3</button>
    </div>
    <div class="filter-block__wrap">
      <button class="btn filter-block__btn" data-fiter-key="@@btn-4">@@btns.btn-4</button>
    </div>
  </div>
</div>
