@@include('window-modal-send-request.html')
<header class="header fixed-top js-header">
  <nav class="navbar navbar-expand-lg navbar-light header__nav">
    <div class="container-fluid header__container">
          <a
            class="navbar-brand text-uppercase text-white fw-light header__logo"
            href="#"
            >HILIGHT</a
          >
          <button
            class="navbar-toggler header__toggle-btn js-toggler-btn"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <span class="header__burger-icon js-toggler-icon"></span>
          </button>
          <div
            class="fade navbar-fade header__navbar-list-box"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav justify-content-between header__navbar-list">
              <li class="nav-item">
                <a
                  class="nav-link fw-bold header__link"
                  aria-current="page"
                  href="#"
                  >Projects</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold header__link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold header__link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold header__link" href="./pages/contacts.html">Contacts</a>
              </li>
            </ul>
            <div class=" header__navbar-contact">
              @@include('./block-contacts.html')
            </div>
          </div>
          <div class="dropdown header__dropdown">
            <button
              class="text-white fw-bold border-none header__lang-btn"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              En
            </button>
            <ul
              class="dropdown-menu header__dropdown-menu"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">En</a></li>
              <li><a class="dropdown-item" href="#">Ru</a></li>
              <li><a class="dropdown-item" href="#">Ua</a></li>
            </ul>
          </div>
          <button
            type="button"
            class="btn fw-bold btn-primary btn-transparent header__popup-btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Send Request
          </button>
      </div>
    </div>
  </nav>
</header>
