@import "./functionality/vars";

body {
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.h-744px {
  height: 744px;
}

.section-title {
  font-weight: $font-weight-bolder;
  font-size: rem(36px);
  line-height: rem(44px);
  color: #080808;
}

.block-title {
  font-style: normal;
  font-size: rem(16px);
  line-height: rem(22px);
}

.btn-white,
.btn-transparent,
.btn-black {
  padding: 17px 48px;
  font-weight: $font-weight-bold;
  font-size: rem(11px);
  line-height: rem(13px);
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-white {
  background-color: $white;
  color: rgba($black, 1);
  transition: background-color 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    background-color: rgba($white, 0.7);
  }

  &,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

.btn-transparent {
  &,
  &:active,
  &:focus {
    background-color: initial;
    border-color: rgba($white, 0.32);
  }

  &:hover {
    background-color: rgba($white, 0.2);
    border-color: rgba($white, 1);
  }
}

.btn-black {
  &,
  &:active,
  &:focus,
  &:hover {
    color: $white;
  }

  &,
  &:active,
  &:focus {
    background-color: rgba($popup_title, 1);
  }

  &:hover {
    background-color: rgba($popup_title, 0.9);
  }
}

.discover-link-box {
  padding: 0 10px;
  position: relative;
  width: fit-content;

  &.--white {
    a {
      color: $white;
    }

    &::before,
    &::after {
      background-color: rgba($white, 0.24);
    }

    &:hover {
      &::before,
      &::after {
        background-color: rgba($white, 1);
      }
    }
  }

  &.--black {
    a {
      color: $black;
    }

    &::before,
    &::after {
      background-color: rgba($black, 0.24);
    }

    &:hover {
      &::before,
      &::after {
        background-color: rgba($black, 1);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
  }

  &::before {
    width: 8px;
    right: 100%;
  }

  &::after {
    content: "";
    width: 56px;
    left: 100%;
  }
}
